<div>
    <div class="container-fluid">
   <div class="row">
       <div class="col-3 d-flex flex-column">
           <a href="#"class="badge  bd-highlight p-2 m-3 border-bottom border-dark" >Account</a>
           <a href="#" class="badge badge-secondary bd-highlight p-2 m-3">Newsfeed</a>
           <a href="#" class="badge badge-info bd-highlight p-2 m-3">Blocked Account</a>
           <a href="#" class="badge badge-info bd-highlight p-2 m-3"> Search</a>
           <a href="#" class="badge badge-info bd-highlight p-2 m-3">Logout</a>
       </div>




